body {
    background-color: rgb(254, 185, 234);
}

.under {
    text-decoration: underline;
}

p {
    padding-left: 25px;
}

h3 {
    padding-left: 25px;
}

h3:target {
    text-decoration: underline;
    font-style: italic;
}

a {
    text-decoration: none;
    color: rgb(219, 3, 129);
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: rgb(180, 180, 180);
}

.links {
    display: inline-block;
    background-color: white;
    height: 210px;
    width: 210px;
    border: solid 5px;
}

.backgorund-links {
    background-color: rgb(170, 170, 170);
    padding: 15px;
    border-radius: 15px;
    display: inline-block;
    border: solid 5px;
}

.articles {
    display: inline-block;
    background-color: rgb(180, 180, 180);
    height: 210px;
    width: 210px;
    margin: 5px;
}

.backgorund-art {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
}

.backgorund-art2 {
    background-color: rgb(169, 169, 169);
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    display: inline-block;
}